body{
  font-family: 'Roboto', sans-serif;
  /* background: #f8f8f8f8; */
  /* background: #333333; */
  margin: 0px;
}
.centered{
  margin-left: auto;
  margin-right: auto;
}
.padded{
  padding: 16px;
}

.container{
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  div.desktop{
    display: none;
  }
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px 0px 15px 15px;
  background-color: #999;
  color: #999;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #999;
  color: #999;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #999;
  color: #999;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #999;
  }
  50%,
  100% {
    background-color: #eee;
  }
}